body {
    background:#9BC0BC;
    font-family: Arial, Helvetica, sans-serif;
}

.assignments{
    display: flex;
    flex-wrap: wrap;
}

.assignment {
    width: 15%;
    padding: 10px;
    margin: 10px;
    padding: 20px 10px;
    background: #D8D2C6;
    border-radius: 10px;
}

.assignment img {
    width: 150px;
    height: 150px;
    margin: 10px;
    border: 2px solid #63A5A9 ;
    display: block;
    margin:auto;
}

.assignment img:hover {
    border: 2px solid #51868F;
}

h1 {
    color: #51868F;
    text-align: center;
}

h2 {
text-align: center;
}

a{
    text-decoration:none;
    color: #63A5A9;
}
a:hover {
    color: #51868F;
}
